<a href="https://colab.research.google.com/github/Johnsylva/100-days-of-code/blob/master/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#looping over a list
#the enumerate(), helps us display the index of the built in function.
letters = ["a", "b", "c"]
for letter in enumerate(letters):
  print(letter)
#the output is a turple, which is a list that cannot be altered, it is bounded by a parenthesis

(0, 'a')
(1, 'b')
(2, 'c')

In [6]:
#to output the index:
letters = ["a", "b", "c"]
for letter in enumerate(letters):
  print(letter[0],letter[1])

0 a
1 b
2 c

In [7]:
letters = ["a", "b", "c"]
for index, letter in enumerate(letters):
  print(index, letter)

0 a
1 b
2 c

In [10]:
#How to add an item to a list; use the append() method
letters = ["a", "b", "c", "d"]
letters.append("s")
letters

['a', 'b', 'c', 'd', 's']

In [11]:
letters.insert(1,"h")
letters

['a', 'h', 'b', 'c', 'd', 's']

In [13]:
#How to remove an item from a list, use pop() method
letters.pop(1)
letters

['a', 'c', 'd', 's']

In [14]:
#we can remove a range of items with the del statement
del letters[0:2]
letters

['d', 's']

In [16]:
letters.append("o")
letters

['d', 's', 'o']

In [17]:
letters.insert(0,"y")
letters

['y', 'd', 's', 'o']

In [18]:
letters.remove("d")
letters

['y', 's', 'o']

In [19]:
#to remove all the object in a list we use the clear method.
letters.clear()
letters

[]

In [21]:
#finding the index of a given object in a list
letters = ["a", "b", "d", "g", "k"]
letters.index("a")

0

In [23]:
#to print an item in a list, we may first have to check if the given object exist in the list
if "j" in letters:
  print(letters.index("j"))

In [25]:
#to get the number of occurence of an item in a list, use the count method
letters.count("j")

0

In [26]:
#sorting a list
numbers = [56, 3, 2, 89, 0, 4]
sorted(numbers)

[0, 2, 3, 4, 56, 89]

In [27]:
sorted(numbers, reverse = True)

[89, 56, 4, 3, 2, 0]

In [30]:
#we can also use the sort method.
numbers.sort(reverse=False)
numbers

[0, 2, 3, 4, 56, 89]

In [49]:
#sorting through a list of turples, we can use the lambda expression, a simple one line anonymous function that we can pass to other function
#a shorter and cleaner way to define a function that we are going to use only once as an argument to another function
items = [("Product1", 10), ("Product2", 9), ("Product3", 12)]

items.sort(key=lambda item:item[1])
print(items)

[('Product2', 9), ('Product1', 10), ('Product3', 12)]