<a href="https://colab.research.google.com/github/Johnsylva/100-days-of-code/blob/master/DayTwo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Data Structures
#List
Letters = ["a", "b", "c", "d"]
#matrix; a list inside a list; a two dimensional list.
matrix = [[1,2], [5,7], [8,9]]
zeros = [0] * 100
numbers = list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
chars = list("Hello world")
print(len(chars))

11

In [5]:
#to change the item in a list
Letters[0] = "A"
print(Letters[0:3])

['A', 'b', 'c']

In [8]:
numbers = list(range(20))
numbers[::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
numbers[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [10]:
#list unpacking
numbers = [1,2,3,4,4,4,4,4]
first, second, *other = numbers
print(first)
print(other)

1
[3, 4, 4, 4, 4, 4]

In [14]:
#how to loop over a list
letters = ["a",  "b", "c", "d", "e"]
for letter in enumerate(letters):
  print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')